# Common
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
*.tmp
/tmp/

# Directories (Ignore everywhere)
node_modules/
venv/
env/
ENV/
__pycache__/
.next/
.vercel/
.pytest_cache/
.eslintcache/

# Frontend specific
frontend/out/
frontend/build/
frontend/npm-debug.log*

# Backend specific
backend/*.py[cod]
backend/*$py.class
backend/.Python
backend/db.sqlite3
backend/media/
backend/static/
backend/staticfiles/
backend/celerybeat-schedule
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.mo
backend/*.pot
backend/local_settings.py
backend/db.sqlite3-journal

# Supabase
.supabase/
